
a{
	color: #000000;
	border-radius: 2px;
	border-width: 3px;
	text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;

}
h1{
	color: #000000;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 60px;
	text-align: center;

}
